/*
Error: Undefined variable: "$pink".
        on line 46 of /home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss, in `quote-pseudo-element'
        from line 46 of /home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss

41:   padding: 1em 2em;
42:   position:relative;
43: }
44: 
45: .blockquote-pink {
46:   @include quote-pseudo-element($pink);
47: }
48: 
49: .blockquote-blue {
50:   @include quote-pseudo-element($dark-blue);
51: }

Backtrace:
/home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss:46:in `quote-pseudo-element'
/home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss:46
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `block (2 levels) in visit_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:357:in `block in visit_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin.rb:54:in `check_for_updates'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/rack.rb:51:in `call'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/rack-1.6.4/lib/rack/handler/webrick.rb:88:in `service'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:138:in `service'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:94:in `run'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/server.rb:294:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$pink\".\A         on line 46 of /home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss, in `quote-pseudo-element'\A         from line 46 of /home/jessica/Documents/ruby/we_got_coders/assignments/alittlebit_may_2016/app/stylesheets/blockquote.scss\A \A 41:   padding: 1em 2em;\A 42:   position:relative;\A 43: }\A 44: \A 45: .blockquote-pink {\A 46:   @include quote-pseudo-element($pink);\A 47: }\A 48: \A 49: .blockquote-blue {\A 50:   @include quote-pseudo-element($dark-blue);\A 51: }"; }
