/*
Error: Undefined mixin 'quotation-font'.
        on line 9 of /home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss, in `quotation-font'
        from line 9 of /home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss

4:   margin: 0.1em 3em;
5:   padding: 1em 2em;
6:   position:relative;
7:   &:before {
8:     content: "\201c";
9:     @include quotation-font;
10:     position: absolute;
11:     left: 6px;
12:     top: -7px;
13:   }
14:   &:after {

Backtrace:
/home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss:9:in `quotation-font'
/home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss:9
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin.rb:54:in `check_for_updates'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/sass-3.4.22/lib/sass/plugin/rack.rb:51:in `call'
/home/jessica/.rvm/gems/ruby-2.2.4/gems/rack-1.6.4/lib/rack/handler/webrick.rb:88:in `service'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:138:in `service'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/httpserver.rb:94:in `run'
/home/jessica/.rvm/rubies/ruby-2.2.4/lib/ruby/2.2.0/webrick/server.rb:294:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'quotation-font'.\A         on line 9 of /home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss, in `quotation-font'\A         from line 9 of /home/jessica/Documents/ruby/we_got_coders/classwork/alittlebit_may_2016/app/stylesheets/blockquote.scss\A \A 4:   margin: 0.1em 3em;\A 5:   padding: 1em 2em;\A 6:   position:relative;\A 7:   &:before {\A 8:     content: \"\201c\";\A 9:     @include quotation-font;\A 10:     position: absolute;\A 11:     left: 6px;\A 12:     top: -7px;\A 13:   }\A 14:   &:after {"; }
