@import "main.scss";
h1, h2, .aside-heading {
  font-weight: normal;
  font-family: $serif;
}

h1 {
  font-weight: normal;
}

h2, .aside-heading {
  font-weight: bold;
  font-size: 1.7em;
}

.white-anchor-text {
  &:link,  &:visited,  &:hover,  &:active { 
    color: #fff !important;
  }
}

.secondary-colour {
  color: #067c24;
  font-family: $serif;
  font-size: 1.2em;
}

.dark-grey {
  color: $dark-grey;
}
.medium-font {
  font: {
    weight: bold;
    size: 1em;
  }
}
.small-font {
  font-size: 0.8em;
}

.author-index {
  font-family: $serif;
  font-size: 1.2em;
  position: relative;
  top: -0.9em;
}

.knowledge {
  font-size: 1.2em; 
}

a:link,  a:visited,  a:hover,  a:active { 
  color: $default-colour;
  text-decoration: none;
}
