#carousel.owl-carousel
  .item#carousel-1
    .slide
      .circle-big
        .circle-medium
          .circle-small
      .text
        %h1
          a Little Bit of <strong class="knowledge">KnowHow</strong>
        %em.author-index.display-block.col--5-12.col--mob-4-4
          by Albert Einstein
        .row
          %blockquote.blockquote-blue.col--4-12-offset-6
            When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied . "It's so seldom I have one.  
            %cite
              Bill Bryson
            %a{href: "#", class: "pink-button small-button display-block margin-no-right"} More
      = image_tag "alb-blue.png", alt: "a Little Bit of KnowHow book cover", class: "col--4-12-offset-1"
  .item#carousel-2
    .slide
      .circle-big
        .circle-medium
          .circle-small
      .text
        %h1
          a Little Bit of <strong class="knowledge">KnowHow</strong>
        .row
          %blockquote.blockquote-blue.col--4-12-offset-6
