%main(itemscope itemtype="https://schema.org/Book")
  .row
    %h1.col--5-12-offset-2.col--mob-2-4
      a Little Bit of <strong class="knowledge">KnowHow</strong>
    %p
      Insert carousel here
    .row
      %section.col--4-12-offset-2.col--mob-4-4
        %h1 We launched our NEW Ebooks...
        = image_tag "", alt: "New Ebooks"
        .headline
          The eternal mystery of the world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future. It come soon enough. Weakness of attitude becomes weakness of character.
          %a{href: "#", class: "pink-button small-button display-block margin-no-right"} More

      %aside.col--4-12.col--mob-4-4
        %h2 What's being said...
        %ul
          %li
            %div
              Our tweets and facebook messages

  %aside
    .row
      .aside-heading.b-2-top.b-pink.col--9-12-offset-2.col--mob-4-4.p-15-top More Bits...
    %ul.inline-list.row
      %li.col--4-12-offset-2.col--mob-4-4
        .more-bits
          %a{href: "#"}
            = image_tag "more-books.png", alt: "More Books"
            .display-block a Little Bit more <strong>Knowledge</strong>
      %li.col--4-12.col--mob-4-4
        .more-bits
          %a{href: "#"}
            = image_tag "more-books.png", alt: "More Books"
            .display-block a Little Bit more <strong>Knowledge</strong>
