%footer#footer.row
  %ul.dark-grey.inline-list.col--4-12-offset-6
    %li
      %a{href: "#"}
        %i.fa.fa-facebook.icon
    %li
      %a{href: "#"}
        %i.fa.fa-twitter
    %li
      %a{href: "#"}
        %i.fa.fa-google-plus
    %li
      %a{href: "#"}
        %i.fa.fa-pinterest-p
  %small.col--3-12-offset-7
    &copy; Copyright 2013, a Little Bit <sup>TM</sup>
