%header.top-header(role="banner")
  .row
    #logo.icon-pink.icon--bulb.col--1-12-offset-2.col--mob-2-4>
      %i
    = image_tag "/images/alb-logotype.png", alt: "A Little Bit - Ideas worth reading", class: "company-name col--1-12"
    = partial "layouts/navigation"
