%header.top-header
  .row
    #logo.icon.icon--bulb.col--1-12-offset-2>
      %i
    = image_tag "/images/alb-logotype.png", alt: "A Little Bit - Ideas worth reading", class: "company-name col--1-12"
    = partial "layouts/navigation"
