%nav
  .inline-list.col--4-12-offset-5>
    %ul
      %li
        %a{href: "/"} HOME
      %li
        %a{href: "#"} SHOP
      %li
        %a{href: "#"} PRESS
      %li
        %a{href: "#"}  ABOUT
      %li
        %a{href: "#"}  HELP
  %ul.col--1-12.inline-list
    %li#shopping
      %a{href: "#", class: "white-anchor-text"} 0
